@model FINAL_FRIDGE.Models.Bookmark

<form enctype="multipart/form-data" asp-controller="Bookmarks" asp-
	  action="UploadImage">

	<input class="form-control" type="file" name="BookmarkImage" />
	<br />
	<input class="btn btn-success" type="submit" value="Upload" />
</form>
